* {
	fg0:     #fdf9f7;
	bg0:     #050406;
	fg1:     #e9e5e3;
	bg1:     #19181a;
	fg2:     #d5d1cf;
	bg2:     #2d2c2e;
	fg3:     #c1bdbb;
	bg3:     #414042;
	red:     #1e3c56;
	green:   #1b4861;
	yellow:  #34485b;
	blue:    #16415f;
	magenta: #745554;
	cyan:    #806b56;
	black:   @bg1;
	white:   @fg1;

	text-color:       @fg0;
	background-color: @accent;
	border-color:     @accent;
	
	spacing: 0;
	border: 0;
	
	font: "Luxi Mono 12";
	}
