* {
	fg0:     #fdf9f7;
	bg0:     #19181a;
	fg1:     #e9e5e3;
	bg1:     #2d2c2e;
	fg2:     #d5d1cf;
	bg2:     #414042;
	fg3:     #c1bdbb;
	bg3:     #555456;
	red:     #284660;
	green:   #25526b;
	yellow:  #3e5265;
	blue:    #204b69;
	magenta: #7e5f5e;
	cyan:    #8a7560;
	black:   @bg1;
	white:   @fg1;

	text-color:       @fg0;
	background-color: @accent;
	border-color:     @accent;
	
	spacing: 0;
	border: 0;
	
	font: "Luxi Mono 12";
	}
