urxvtd -q -o -f                                             &>/dev/null &
gwmlstn                                                     &>/dev/null &
gwmpulse                                                    &>/dev/null &
mpd                                                         &>/dev/null &
xautolock -corners 0-0- -cornersize 30 -time 5 -locker lscr &>/dev/null &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1   &>/dev/null &
nm-applet                                                   &>/dev/null &
xfce4-power-manager                                         &>/dev/null &
pamac-tray                                                  &>/dev/null &
clipit                                                      &>/dev/null &
blueman-applet                                              &>/dev/null &
#compton                                                     &>/dev/null &
ff-theme-util                                               &>/dev/null &
fix_xcursor                                                 &>/dev/null &
reloadconfs                                                 &>/dev/null &
sxhkd                                                       &>/dev/null &
