! >>>> PYWAL COLORVARS
#define cblkd       #150f08
#define cblkl       #8b8d84
#define credd       #7A856A
#define credl       #7A856A
#define cgrnd       #E29734
#define cgrnl      #E29734
#define cylwd       #8F9072
#define cylwl      #8F9072
#define cblud       #EBAA50
#define cblul      #EBAA50
#define cgntd       #E0A25B
#define cgntl      #E0A25B
#define ccynd       #F6BE58
#define ccynl      #F6BE58
#define cwhtd       #c7cabd
#define cwhtl      #c7cabd


! >>>> VARIABLES
#define fontname monaco
!#define font TerminessTTFNerdFontMono
#define fontsize 14
#define fontsize2 12


! >>>> COLORS
*background:				cblkd
*foreground:				cwhtl
*fading:					30
*fadeColor:					black
*cursorColor:				ccynd
*pointerColorBackground:	cblkd
*pointerColorForeground:	ccynd
*border:					cblkd

!black dark/light
*color0:	cblkd
*color8:	cblkl
!red dark/light
*color1:	credd
*color9:	credl
!green dark/light
*color2:	cgrnd
*color10:	cgrnl
!yellow dark/light
*color3:	cylwd
*color11:	cylwl
!blue dark/light
*color4:	cblud
*color12:	cblul
!magenta dark/light
*color5:	cgntd
*color13:	cgntl
!cyan dark/light
*color6:	ccynd
*color14:	ccynl
!white dark/light
*color7:	cwhtd
*color15:	cwhtl

! >>>> ROFI
rofi.width:                          580
rofi.lines:                          15
rofi.location:                       2
rofi.padding:                        10
rofi.yoffset:                        0
rofi.xoffset:                        0
rofi.show-icons:                     true
rofi.line-margin:                    10
rofi.hide-scrollbar:                 true

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        50
rofi.columns:                        1
rofi.font:                           fontname fontsize2
rofi.fg:                             cblud
rofi.bg:                             cblkl
rofi.fg-active:                      cblkd
rofi.fg-urgent:                      cblkd
rofi.hlfg-active:                    ccynd
rofi.hlfg-urgent:                    ccynd
rofi.bg-active:                      cblkd
rofi.bg-urgent:                      cblkd
rofi.hlbg-active:                    cblkl
rofi.hlbg-urgent:                    cblkl
rofi.bgalt:                          cblkd
rofi.hlfg:                           cblkd
rofi.hlbg:                           cblkd
rofi.bc:                             ccynd
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: cblkd,  cwhtd,  cblkd,  cblud,  cwhtd
!                  'background', 'border'
rofi.color-window: cblkd,      cblkd
rofi.bw:                             10
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.separator-style:                solid
rofi.markup-rows:                    false

! >>>> Xft
Xft.dpi:		96
Xft.antialias:	true
Xft.hinting:	true
Xft.rgba:		rgb
Xft.autohint:	false
Xft.hintstyle:	hintslight
Xft.lcdfilter:	lcddefault

! >>>> XTerm
! XTerm*background:	cblkd
! XTerm*foreground:	cwhtd
! XTerm*pointerColor:	ccynd
! XTerm*faceName:		Fixed
! XTerm*faceSize:		11
! XTerm*reverseVideo:	on
! XTerm*faceName:		Terminus:size=11:antialias=true
! XTerm*selectToClipboard:true

! >>>> Xcursor
Xcursor.theme: Bibata_Red
Xcursor.size: 36

! >>>> URXVT
URxvt.font: xft:fontname:size=fontsize

URxvt*fading: 10
URxvt*depth: 10
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage:	false
URxvt*cursorBlink: true
URxvt*background: cblkd
URxvt*foreground: cwhtl
URxvt*saveLines: 5000
URxvt*useColor:	true
URxvt*internalBorder: 1

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:            true
! URxvt*transparent:              true
! URxvt*shading:                  138

! >>>> URXVT EXTENSIONS
URxvt*perl-ext-common: default,clipboard,matcher,resize-font,config-reload
!URxvt*perl-lib: /home/gavarch/.urxvt/ext
URxvt*url-launcher:	/usr/bin/google-chrome-beta
URxvt*matcher.button: 1
URxvt*keysym.C-y: clipboard:copy
URxvt*keysym.C-a: clipboard:paste
URxvt*keysym.C-I: resize-font:smaller
URxvt*keysym.C-U: resize-font:bigger
URxvt*keysym.C-Y: resize-font:reset
! URxvt*tabbed.autohide: true
! URxvt*keysym.C-t: perl:tabbedex:new_tab
! URxvt*keysym.C-Tab: perl:tabbedex:next_tab
! URxvt*keysym.C-Shift-Tab: perl:tabbedex:prev_tab
