#include "xrs/theme"

!! VARIABLES

#include "xrs/1vars"

!! COLORS

#include "xrs/2colorvars"

!! ROFI

#include "xrs/3rofi"

!! Xft

#include "xrs/4xft"

!! XTERM

#include "xrs/5xterm"

!! Xcursor

#include "xrs/6xcursor"

!! URXVT

#include "xrs/7urxvt"

!! URXVT EXTENSIONS

#include "xrs/8urxvtext"
