"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
      "atom-latex"
      "whitespace"
    ]
    projectHome: "/home/gavarch/Documents"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "rice-syntax"
    ]
  editor:
    fontFamily: "Monaco, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 22
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "145e1b26-f94c-4667-bf4c-cb4bb642e0bb"
  "linter-latex":
    compiler: "xelatex"
    extraArguments: [
      "-interaction=nonstopmode"
      "-shell-escape"
    ]
  "pdf-view":
    fitToWidthOnOpen: true
  "vim-mode-plus":
    groupChangesWhenLeavingInsertMode: false
  welcome:
    showOnStartup: false
