@import "_globals.rasi"
* {
	background-color: @accent;
	border-color:     @accent;
	text-color:       @bg1;
	font:             @font1;
	}
#prompt {
	background-color: @bg1;
	text-color:       @accent;
	padding:          1px 1px 2px 2px;
	}
#message { padding: 5px; str: "MESSAGE";}
#element { padding: 1px 1px; border: 0; }
#element selected { background-color: @bg1; text-color: @accent; }
