* {
	fg0:     #ececec;
	bg0:     #444444;
	fg1:     #d8d8d8;
	bg1:     #585858;
	fg2:     #c4c4c4;
	bg2:     #6c6c6c;
	fg3:     #b0b0b0;
	bg3:     #808080;
	red:     #a1465a;
	green:   #2e9386;
	yellow:  #a1623d;
	blue:    #4c59a1;
	magenta: #7a438a;
	cyan:    #419099;
	black:   @bg1;
	white:   @fg1;

	text-color:       @fg0;
	background-color: @accent;
	border-color:     @accent;
	
	spacing: 0;
	border: 3px;
	
	font: "Luxi Mono 12";
}
