@import "globals.rasi"
#prompt { background-color: @fg1; text-color: @bg1; padding: 2 2 2 2; }
#message {
	padding: 0;
	border: 0; border-radius: @cornerrad; border-color: @bg3;
	background-color: @bg1; text-color: @fg1;
}
#element { padding: 1px 1px; border: 0; }
#element selected { background-color: @fg1; text-color: @bg1; }
#element urgent, element selected urgent { text-color: @red; }
#element active, element selected active { text-color: @blue; }
