* {
	fg0:     #302f30;
	bg0:     #CDCBCD;
	fg1:     #444344;
	bg1:     #b9b7b9;
	fg2:     #585758;
	bg2:     #a5a3a5;
	fg3:     #6c6b6c;
	bg3:     #918f91;
	red:     #cc7775;
	green:   #66ad8a;
	yellow:  #ae8966;
	blue:    #7a90a2;
	magenta: #ae658a;
	cyan:    #66adae;
	black:   @bg1;
	white:   @fg1;

	text-color:       @fg0;
	background-color: @accent;
	border-color:     @accent;
	
	spacing: 0;
	border: 0;
	
	font: "Luxi Mono 12";
	}
