* {
	fg0:     #050406;
	bg0:     #fdf9f7;
	fg1:     #19181a;
	bg1:     #e9e5e3;
	fg2:     #2d2c2e;
	bg2:     #d5d1cf;
	fg3:     #414042;
	bg3:     #c1bdbb;
	red:     #9ab6ce;
	green:   #97c2da;
	yellow:  #b0c2d4;
	blue:    #92bbd7;
	magenta: #f0cfcd;
	cyan:    #fce5cf;
	black:   @bg1;
	white:   @fg1;

	text-color:       @fg0;
	background-color: @accent;
	border-color:     @accent;
	
	spacing: 0;
	border: 0;
	
	font: "Luxi Mono 12";
	}
