* {
	fg0:     #0F1610;
	bg0:     #c2c6c4;
	fg1:     #232a24;
	bg1:     #aeb2b0;
	fg2:     #373e38;
	bg2:     #9a9e9c;
	fg3:     #4b524c;
	bg3:     #868a88;
	red:     #a6a399;
	green:   #8097a2;
	yellow:  #899ea6;
	blue:    #74a2be;
	magenta: #98a8ac;
	cyan:    #92a9b0;
	black:   @bg1;
	white:   @fg1;

	text-color:       @fg0;
	background-color: @accent;
	border-color:     @accent;
	
	spacing: 0;
	border: 0;
	
	font: "Luxi Mono 12";
	}
