// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #26242d, #26242d);
$fg_color: if($variant == "dark", #ffe8e5, #ffe8e5);
$base_color: if($variant == "dark", #26242d, #26242d);
$text_color: if($variant == "dark", #ffe8e5, #ffe8e5);
$selected_bg_color: #E19895;
$selected_fg_color: #cdd0da;
$tooltip_bg_color: #E19895;
$tooltip_fg_color: #cdd0da;

// dark colors
$dark_bg_color: if($variant == 'dark', #26242d, #26242d);
$dark_fg_color: if($variant == 'dark', #ffe8e5, #ffe8e5);

// shadows
$dark_shadow: #121019;
$light_shadow: #cdd0da;

// white and black
$black: #121019;
$white: #cdd0da;

// misc colors used by gtk+
$info_fg_color: if($variant == 'dark', #ffe8e5, #ffe8e5);
$info_bg_color: if($variant == 'dark', #26242d, #26242d);
$warning_fg_color: if($variant == 'dark', #cdd0da, #cdd0da);
$warning_bg_color: if($variant == 'dark', #B1A7B2, #B1A7B2);
$question_fg_color: if($variant == 'dark', #B1A7B2, #B1A7B2);
$question_bg_color: if($variant == 'dark', #26242d, #26242d);
$error_fg_color: if($variant == 'dark', #121019, #121019);
$error_bg_color: if($variant == 'dark', #9396AD, #9396AD);
$link_color: if($variant == 'dark', #CDADB3, #CDADB3);
$success_color: if($variant == 'dark', #AB9AA6, #AB9AA6);
$warning_color: if($variant == 'dark', #B1A7B2, #B1A7B2);
$error_color: if($variant == 'dark', #9396AD, #9396AD);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
