// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #cececc, #cececc);
$fg_color: if($variant == "dark", #7d404f, #7d404f);
$base_color: if($variant == "dark", #e2e2e0, #e2e2e0);
$text_color: if($variant == "dark", #7d404f, #7d404f);
$selected_bg_color: #b46b7d;
$selected_fg_color: #303030;
$tooltip_bg_color: #b46b7d;
$tooltip_fg_color: #303030;

// dark colors
$dark_bg_color: if($variant == 'dark', #cececc, #cececc);
$dark_fg_color: if($variant == 'dark', #7d404f, #7d404f);

// shadows
$dark_shadow: #000000;
$light_shadow: #ffffff;

// white and black
$black: #000000;
$white: #ffffff;

// misc colors used by gtk+
$info_fg_color: if($variant == 'dark', #7d404f, #7d404f);
$info_bg_color: if($variant == 'dark', #f6f6f4, #f6f6f4);
$warning_fg_color: if($variant == 'dark', #ff890a, #ff890a);
$warning_bg_color: if($variant == 'dark', #ff4845, #ff4845);
$question_fg_color: if($variant == 'dark', #ff890a, #ff890a);
$question_bg_color: if($variant == 'dark', #f6f6f4, #f6f6f4);
$error_fg_color: if($variant == 'dark', #ff4845, #ff4845);
$error_bg_color: if($variant == 'dark', #f6f6f4, #f6f6f4);
$link_color: if($variant == 'dark', #288ad6, #288ad6);
$success_color: if($variant == 'dark', #47aa12, #47aa12);
$warning_color: if($variant == 'dark', #ff4845, #ff4845);
$error_color: if($variant == 'dark', #ff4845, #ff4845);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
