// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #313334, #313334);
$fg_color: if($variant == "dark", #bdccc0, #bdccc0);
$base_color: if($variant == "dark", #1d1f20, #1d1f20);
$text_color: if($variant == "dark", #bdccc0, #bdccc0);
$selected_bg_color: #779983;
$selected_fg_color: #bdccc0;
$tooltip_bg_color: #779983;
$tooltip_fg_color: #bdccc0;

// dark colors
$dark_bg_color: if($variant == 'dark', #313334, #313334);
$dark_fg_color: if($variant == 'dark', #bdccc0, #bdccc0);

// shadows
$dark_shadow: #090B0C;
$light_shadow: #bdccc0;

// white and black
$black: #090B0C;
$white: #bdccc0;

// misc colors used by gtk+
$info_fg_color: if($variant == 'dark', #bdccc0, #bdccc0);
$info_bg_color: if($variant == 'dark', #090B0C, #090B0C);
$warning_fg_color: if($variant == 'dark', #619D86, #619D86);
$warning_bg_color: if($variant == 'dark', #C19363, #C19363);
$question_fg_color: if($variant == 'dark', #619D86, #619D86);
$question_bg_color: if($variant == 'dark', #090B0C, #090B0C);
$error_fg_color: if($variant == 'dark', #C19363, #C19363);
$error_bg_color: if($variant == 'dark', #090B0C, #090B0C);
$link_color: if($variant == 'dark', #75B08F, #75B08F);
$success_color: if($variant == 'dark', #8B7789, #8B7789);
$warning_color: if($variant == 'dark', #C19363, #C19363);
$error_color: if($variant == 'dark', #C19363, #C19363);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
