// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #e7ddb3, #e7ddb3);
$fg_color: if($variant == "dark", #3c4d3c, #3c4d3c);
$base_color: if($variant == "dark", #e7ddb3, #e7ddb3);
$text_color: if($variant == "dark", #3c4d3c, #3c4d3c);
$selected_bg_color: #689d6a;
$selected_fg_color: #282828;
$tooltip_bg_color: #689d6a;
$tooltip_fg_color: #282828;

// dark colors
$dark_bg_color: if($variant == 'dark', #e7ddb3, #e7ddb3);
$dark_fg_color: if($variant == 'dark', #3c4d3c, #3c4d3c);

// shadows
$dark_shadow: #fbf1c7;
$light_shadow: #282828;

// white and black
$black: #fbf1c7;
$white: #282828;

// misc colors used by gtk+
$info_fg_color: if($variant == 'dark', #3c4d3c, #3c4d3c);
$info_bg_color: if($variant == 'dark', #e7ddb3, #e7ddb3);
$warning_fg_color: if($variant == 'dark', #282828, #282828);
$warning_bg_color: if($variant == 'dark', #d79921, #d79921);
$question_fg_color: if($variant == 'dark', #d79921, #d79921);
$question_bg_color: if($variant == 'dark', #e7ddb3, #e7ddb3);
$error_fg_color: if($variant == 'dark', #fbf1c7, #fbf1c7);
$error_bg_color: if($variant == 'dark', #cc241d, #cc241d);
$link_color: if($variant == 'dark', #b16286, #b16286);
$success_color: if($variant == 'dark', #98971a, #98971a);
$warning_color: if($variant == 'dark', #d79921, #d79921);
$error_color: if($variant == 'dark', #cc241d, #cc241d);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
