// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #002635, #002635);
$fg_color: if($variant == "dark", #bebebc, #bebebc);
$base_color: if($variant == "dark", #002635, #002635);
$text_color: if($variant == "dark", #bebebc, #bebebc);
$selected_bg_color: #ff5a67;
$selected_fg_color: #fafaf8;
$tooltip_bg_color: #ff5a67;
$tooltip_fg_color: #fafaf8;

// dark colors
$dark_bg_color: if($variant == 'dark', #002635, #002635);
$dark_fg_color: if($variant == 'dark', #bebebc, #bebebc);

// shadows
$dark_shadow: #002635;
$light_shadow: #fafaf8;

// white and black
$black: #002635;
$white: #fafaf8;

// misc colors used by gtk+
$info_fg_color: if($variant == 'dark', #bebebc, #bebebc);
$info_bg_color: if($variant == 'dark', #002635, #002635);
$warning_fg_color: if($variant == 'dark', #ffcc1b, #ffcc1b);
$warning_bg_color: if($variant == 'dark', #f08e48, #f08e48);
$question_fg_color: if($variant == 'dark', #ffcc1b, #ffcc1b);
$question_bg_color: if($variant == 'dark', #002635, #002635);
$error_fg_color: if($variant == 'dark', #f08e48, #f08e48);
$error_bg_color: if($variant == 'dark', #002635, #002635);
$link_color: if($variant == 'dark', #9a70a4, #9a70a4);
$success_color: if($variant == 'dark', #7fc06e, #7fc06e);
$warning_color: if($variant == 'dark', #f08e48, #f08e48);
$error_color: if($variant == 'dark', #f08e48, #f08e48);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
