// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #393534, #393534);
$fg_color: if($variant == "dark", #a8b8c0, #a8b8c0);
$base_color: if($variant == "dark", #252120, #252120);
$text_color: if($variant == "dark", #a8b8c0, #a8b8c0);
$selected_bg_color: #9E521B;
$selected_fg_color: #a8b8c0;
$tooltip_bg_color: #9E521B;
$tooltip_fg_color: #a8b8c0;

// dark colors
$dark_bg_color: if($variant == 'dark', #393534, #393534);
$dark_fg_color: if($variant == 'dark', #a8b8c0, #a8b8c0);

// shadows
$dark_shadow: #110d0c;
$light_shadow: #a8b8c0;

// white and black
$black: #110d0c;
$white: #a8b8c0;

// misc colors used by gtk+
$info_fg_color: if($variant == 'dark', #a8b8c0, #a8b8c0);
$info_bg_color: if($variant == 'dark', #110d0c, #110d0c);
$warning_fg_color: if($variant == 'dark', #8C390E, #8C390E);
$warning_bg_color: if($variant == 'dark', #334958, #334958);
$question_fg_color: if($variant == 'dark', #8C390E, #8C390E);
$question_bg_color: if($variant == 'dark', #110d0c, #110d0c);
$error_fg_color: if($variant == 'dark', #334958, #334958);
$error_bg_color: if($variant == 'dark', #110d0c, #110d0c);
$link_color: if($variant == 'dark', #C86A24, #C86A24);
$success_color: if($variant == 'dark', #585959, #585959);
$warning_color: if($variant == 'dark', #334958, #334958);
$error_color: if($variant == 'dark', #334958, #334958);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
