// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #e9e2cf, #e9e2cf);
$fg_color: if($variant == "dark", #156567, #156567);
$base_color: if($variant == "dark", #e9e2cf, #e9e2cf);
$text_color: if($variant == "dark", #156567, #156567);
$selected_bg_color: #2aa198;
$selected_fg_color: #002b36;
$tooltip_bg_color: #2aa198;
$tooltip_fg_color: #002b36;

// dark colors
$dark_bg_color: if($variant == 'dark', #e9e2cf, #e9e2cf);
$dark_fg_color: if($variant == 'dark', #156567, #156567);

// shadows
$dark_shadow: #fdf6e3;
$light_shadow: #002b36;

// white and black
$black: #fdf6e3;
$white: #002b36;

// misc colors used by gtk+
$info_fg_color: if($variant == 'dark', #156567, #156567);
$info_bg_color: if($variant == 'dark', #e9e2cf, #e9e2cf);
$warning_fg_color: if($variant == 'dark', #002b36, #002b36);
$warning_bg_color: if($variant == 'dark', #b58900, #b58900);
$question_fg_color: if($variant == 'dark', #b58900, #b58900);
$question_bg_color: if($variant == 'dark', #e9e2cf, #e9e2cf);
$error_fg_color: if($variant == 'dark', #fdf6e3, #fdf6e3);
$error_bg_color: if($variant == 'dark', #dc322f, #dc322f);
$link_color: if($variant == 'dark', #d33682, #d33682);
$success_color: if($variant == 'dark', #859900, #859900);
$warning_color: if($variant == 'dark', #b58900, #b58900);
$error_color: if($variant == 'dark', #dc322f, #dc322f);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
