// These colors are specific to the theme. Do not use in a package!
@very-light-gray: #b7c5d3;
@light-gray: #718ca1;
@gray: #333f4a;
@dark-gray: #181e24;
@very-dark-gray: #181e24;
@cyan: #70e1e8;
@blue: #539afc;
@purple: #b62d65;
@green: #8bd49c;
@red: #d95468;
@orange: #ebbf83;
@light-orange: #ebbf83;
