!! vim:ft=xdefaults
! ━  themer theme: ryuko

#define tfg0 #040817
#define tred #8b4937
#define tgrn #21a9a1
#define tylw #a38c1d
#define tblu #2b6697
#define tgnt #863fa7
#define tcyn #3ba4bb
#define tacb #b1b4ca
#define tbg0 #fdfcfb
#define redl #8b4937
#define grnl #21a9a1
#define ylwl #a38c1d
#define blul #2b6697
#define gntl #863fa7
#define cynl #3ba4bb
#define tbg1 #e9e8e7

! ━  default theme: i3

#ifndef tfg0
	#define tfg0 #302f30
#endif
#ifndef tacb
	#define tacb #7a90a2
#endif
#ifndef tred
	#define tred #900000
#endif
#ifndef redl
	#define redl #601718
 #endif
#ifndef tgrn
	#define tgrn #009048
#endif
#ifndef grnl
	#define grnl #185f3c
#endif
#ifndef tylw
	#define tylw #904800
#endif
#ifndef ylwl
	#define ylwl #603b18
#endif
#ifndef tblu
	#define tblu #285577
#endif
#ifndef blul
	#define blul #2c4253
#endif
#ifndef tgnt
	#define tgnt #900048
#endif
#ifndef gntl
	#define gntl #60173c
#endif
#ifndef tcyn
	#define tcyn #009090
#endif
#ifndef cynl
	#define cynl #185f60
#endif
#ifndef tbg0
	#define tbg0 #CDCBCD
#endif
#ifndef tbg1
	#define tbg1 #b9b7b9
#endif

! ━  1vars

#define fontname  Iosevka
#define fontsize  15
#define fontsize2 15

*.font:                   fontname:size=fontsize
*.chscale:                1.15
*.borderpx:               0

*.fading:                 30
*.fadeColor:              black
*.pointerColorBackground: tbg0
*.pointerColorForeground: tcyn
*.border:                 tbg0

*.background:             tbg0
*.foreground:             tfg0
*.cursorColor:            tred

*.color0:                 tbg0
*.color1:                 tred
*.color2:                 tgrn
*.color3:                 tylw
*.color4:                 tblu
*.color5:                 tgnt
*.color6:                 tcyn
*.color7:                 tacb
*.color8:                 tbg1
*.color9:                 redl
*.color10:                grnl
*.color11:                ylwl
*.color12:                blul
*.color13:                gntl
*.color14:                cynl
*.color15:                tfg0

! ━  2rofi

!rofi.width:           400
!rofi.lines:           15
!rofi.location:        1
!rofi.padding:         10
!rofi.yoffset:         20
!rofi.xoffset:         0
rofi.show-icons:       true
rofi.icon-theme:       "DamaDamas"
!rofi.line-margin:     10
!rofi.hide-scrollbar:  true
!
rofi.modi:             ssh,window,drun,run,calc,combi
rofi.sidebar-mode:     true
rofi.terminal:         urxvt
rofi.ssh-client:       ssh
rofi.ssh-command:      {terminal} -e "{ssh-client} {host}"
rofi.opacity:          50
!rofi.columns:         1
rofi.font:             fontname fontsize2
rofi.fg:               tblu
rofi.bg:               tfg0
rofi.fg-active:        tfg0
rofi.fg-urgent:        tfg0
rofi.hlfg-active:      tcyn
rofi.hlfg-urgent:      tcyn
rofi.bg-active:        tfg0
rofi.bg-urgent:        tfg0
rofi.hlbg-active:      tacb
rofi.hlbg-urgent:      tacb
rofi.bgalt:            tfg0
rofi.hlfg:             tfg0
rofi.hlbg:             tfg0
rofi.bc:               tcyn
!State:                bg    fg    bgalt hlbg  hlfg
rofi.color-normal:     tfg0, tbg0, tfg0, tblu, tbg0
!                      background border
rofi.color-window:     tfg0,      tfg0
!rofi.bw:              10
rofi.levenshtein-sort: true
rofi.case-sensitive:   false
rofi.fuzzy:            true
rofi.separator-style:  none
rofi.markup-rows:      true

! ━  3xft

Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! ━  4xterm

XTerm*foreground:        tfg0
XTerm*background:        tbg0
XTerm*faceName:          Iosevka
XTerm*faceSize:          15
XTerm*selectToClipboard: true
XTerm.vt100.geometry:    79x25
! XTerm*pointerColor:    tcyn
! XTerm*reverseVideo:    on

! ━  5xcursor

Xcursor.theme: Bibata_Dark_Red
Xcursor.size:  48

! ━  6urxvt

URxvt.font:                 xft:fontname:size=fontsize, xft:FontAwesome:size=9

URxvt*fading:               0
URxvt*depth:                0
URxvt*scrollBar:            false
!URxvt*scrollBar_right:      true
!URxvt*scrollColor:          tbg1
!URxvt*troughColor:          tbg0
!URxvt*scrollstyle:          plain
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink:          true
URxvt*background:           tbg0
URxvt*foreground:           tfg0
URxvt*saveLines:            5000
URxvt*useColor:             true
URxvt*internalBorder:       0
URxvt*letterSpace:          1
URxvt*lineSpace:            3
URxvt.geometry:             60x17
!! for 'fake' transparency (without Compton) uncomment the following three lines
!URxvt*inheritPixmap:        true
!URxvt*transparent:          true
!URxvt*shading:              138

!  urxvtext

URxvt*perl-ext-common:      default,matcher,resize-font,config-reload
!URxvt*perl-lib:            /home/gavarch/.urxvt/ext
URxvt*url-launcher:         /usr/bin/google-chrome-beta
URxvt*matcher.button:       1
! URxvt*keysym.C-y:         clipboard:copy
! URxvt*keysym.C-a:         clipboard:paste
URxvt*keysym.C-I:           resize-font:smaller
URxvt*keysym.C-U:           resize-font:bigger
URxvt*keysym.C-Y:           resize-font:reset
! URxvt*tabbed.autohide:    true
! URxvt*keysym.C-t:         perl:tabbedex:new_tab
! URxvt*keysym.C-Tab:       perl:tabbedex:next_tab
! URxvt*keysym.C-Shift-Tab: perl:tabbedex:prev_tab

! ━  7herbe

herbe.background_color: tacb
herbe.border_color: tbg0
herbe.font_color: tfg0
herbe.font_pattern: fontname:size=15
herbe.line_spacing: 10
herbe.padding: 20
herbe.width: 600
herbe.border_size: 5
herbe.pos_x: 30
herbe.pos_y: 60
! 0 = TOP_LEFT, 1 = TOP_RIGHT, 2 = BOTTOM_LEFT, 3 = BOTTOM_RIGHT
herbe.corner: 1
herbe.duration: 5
